Client/node_modules/
Client/.expo/
Client/dist/
Client/web-build/
Client/android/.gradle/
Client/android/build/
Client/android/app/build/
Client/android/local.properties
Client/*.apk
Client/*.aab
Server/node_modules/
.tmp/
*.apk
*.aab
*.tsbuildinfo
npm-debug.*
yarn-debug.*
yarn-error.*
